/* This is for dumping some ideas */

#bits {
    padding: 0 0 0 0;
    cursor:pointer;
    transition: background-color 1s ease;
    color: var(--accent-color)
  }
  
  #atoms {
    padding: 0 0 0 0;
    cursor:pointer;
    transition: background-color 1s ease;
    color: var(--accent-color)
  }
  
  #atoms:hover {
    color-scheme: light;
    background-color: var(--background-color);
    color: var(--accent-color);
  }
  
  #bits:hover {
    color-scheme: dark;
    background-color: var(--background-color);
    color: var(--accent-color);
  }