#bloglist {
	list-style-type: none;
}

#bloglist li a {
	display: block;
	text-decoration: none;
}

.posttitle {
    color: var(--content-color);
    background: linear-gradient(var(--accent-color) 0%, var(--accent-color) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 0 0;
    padding: 2px;
    transition: none;
}

a:hover .posttitle {
    background-size: 100% 100%;
    color: var(--background-color);
    transition: background-size 0.3s ease-in-out, color 0.3s; 
}

a:not(:hover) .posttitle {
    transition: background-size 0.2s ease-in-out, color 0.2s;
}

.postdate  {
	font-family: monospace;
	transition: opacity 0.3s ease-in-out;
}

/* When hovering over any <a>, hide all postdates */
#bloglist:hover .postdate {
	opacity: 0.4;
}

/* Keep the postdate of the hovered link visible */
#bloglist li:hover .postdate {
	opacity: 1;
}

#bloglangs ul li { 
    display: none;
}

#bloglangs:has(#en:checked) > ul .english,
#bloglangs:has(#fr:checked) > ul .french {
    display: block;
}
