:root{
	--background-color: #202B30;
	--content-color: #FFF7EB;
	--accent-color: #8CD4A4;
	--selection-color: #8CD4A4AA;
}

@media (prefers-color-scheme: light) {
	:root{
		--background-color: #FFF7EB;
		--content-color: #202B30;
		--selection-color: var(--accent-color);
	}
}
